<div id="scroll-container">
  {{#if canShowScrollProgress}}
    <div class="em-progress-bar-container {{progressContainerClass}}">
      <div id="progress-bar" class="em-progress-bar {{progressBarClass}}"></div>
    </div>
  {{/if}}
  {{yield this}}
</div>
